# Node
node_modules/
dist/
.env
.env.local

dump.sql
.http
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs e configs locais
.vscode/
.idea/

#import para o banco de dados
import-banco.ipynb
test-db.ts
populateOcorrenciasDiarias.ts